* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #09080A;
    color: #C3C3C2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    padding-left: 5em;
}

header .container {
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
}

.nav-bar ul li{
    display: inline;
}

.nav-bar ul li a{
    color: #5E565A;
}